mat-toolbar{
    background: #0288d1;
    color: #fff;
    height: 64px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 1;
}

.toolbar-right {
    margin-left: auto;
  }

  ::ng-deep .mat-menu-content:not(:empty){
    padding-top: 20px; 
    padding-bottom: 20px; 
    width: 250px; 
    background-color: #f0f0f0;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
}


.mat-menu-item:hover {
    background-color: #0288d1; 
    color: white; 
  }

.icon1{
    font-size: 15px;
    margin-top: 7px;
}  

